# Managing a Simple Inventory System

# Simple Calculator Class

In [15]:
class Calculator:
    def add(self, x, y):
        return x + y

    def subtract(self, x, y):
        return x - y

    def multiply(self, x, y):
        return x * y

    def divide(self, x, y):
        if y == 0:
            return "Division by zero error!"
        return x / y


calculator = Calculator()
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")
if operation == '+':
    result = calculator.add(num1, num2)
elif operation == '-':
    result = calculator.subtract(num1, num2)
elif operation == '*':
    result = calculator.multiply(num1, num2)
elif operation == '/':
    result = calculator.divide(num1, num2)
else:
    result = "Invalid operation!"

print("Result:", result)

Enter first number: 5
Enter second number: 9
Enter operation (+, -, *, /): +
Result: 14.0

# Creating a Student Management System

In [17]:
class student :
  def __init__(self,name,age,id):
    self.name = name
    self.age = age
    self.id = id
  def display_info(self):
    print(f"Name: {self.name}, Age: {self.age}, ID: {self.id}")

student1= student ("Alice", 30, 254)
print(student1.name)
print(student1.age)
print(student1.id)
student1.display_info()

Alice
30
254
Name: Alice, Age: 30, ID: 254

# Modeling a Bank Account

In [25]:
class BankAccount:
    def __init__(self, account_number, balance=0):
        self.account_number = account_number
        self.balance = balance
    def display_balance(self):
        print(f"Account Number: {self.account_number}")
        print(f"Balance: {self.balance}")

BankAccount1= BankAccount("12345",19000)
BankAccount1.display_balance()

Account Number: 12345
Balance: 19000

# Modeling a Simple Library System

In [ ]:
class Library:
    def __init__(self,addbook,removebook):
        self.addbook = addbook
        self.removebook = removebook
        self.displaybook = displaybook
    def addbook(self,book):
        self.addbook.append(book)
    def removebook(self,book):
        self.removebook.remove(book)
Library1= Library.addbook("book1")
Library1= Library.removebook("book2")

# Simple Voting System

# Simple Temperature Converter

# Modeling a Car Rental System